body {
    background-color: #fcefef;
    margin: 0px
}
                               /* top of the webpage */

header {
    background-color: #7bcdba;
    padding: 10px;
    text-align: center;
}

                             /* start of main content */

main {
    text-align: center;
    line-height: 1.5em;
    width: 40%;
    margin: auto;
    padding: 20px
}

article {
    font-family: 'Bitter', sans-serif;
}

.introduction {
    padding-top: 10px;
    padding-bottom: 75px;
}

.aboutme {
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact {
    padding-top: 10px;
}

                            /* end of main content */

                 /* bottom of the webpage, including contact links */

footer {
    background-color: #7bcdba;
    width: auto;
    height: 50px;
}

a {
    text-decoration: none;
    color:darkslategray;
    font-weight: bolder;
}

a:hover {
    color:black;
}

                                /* styling for lists */

.cities {
    width: 175px;
    height: 50px;
    margin: auto;
    text-align: left;
}

.activities {
    margin: auto;
    max-width: 30em;
    text-align: left;
}

                                /* styling for images */ 

.logo {
    width: 25px;
    height: 25px;
}

img {
    width: 250px;
    height: 300px;
    border-radius: 250px;
}