body {
    background-color: #fcefef;
}

header {
    background-color: #7bcdba;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

main {
    text-align: center;
    line-height: 1.5em;
    width: 40%;
    margin: auto;
    padding: 20px
}

article {
    font-family: 'Nunito';
    font-weight: 540;
}

.introduction {
    padding-top: 20px;
    padding-bottom: 75px;
}

.aboutme {
    padding-top: 10px;
    padding-bottom: 50px;
}

.contact {
    padding-top: 25px;
}

footer {
    background-color: #7bcdba;
    width: auto;
    height: 50px;
}


a {
    text-decoration: none;
    color:darkslategray;
    font-weight: bolder;
}

a:hover {
    color:black;
}

.list {
    width: 175px;
    height: 50px;
    margin: auto;
    text-align: left;
}

.list1 {
    width: 400px;
    height: 50px;
    margin: auto
}

.logo {
    width: 25px;
    height: 25px
}

img {
    width: 250px;
    height: 300px;
    border-radius: 250px;
}